In [21]:
import lightgbm as lgbm
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv('data/rollingsales_bronx.csv',sep=';')

In [23]:
df.columns[df.isna().any()].tolist()

[]

In [24]:
df.columns = df.columns.str.replace(' ','_')
df.columns

Index([u'BOROUGH', u'NEIGHBORHOOD', u'BUILDING_CLASS_CATEGORY',
       u'TAX_CLASS_AT_PRESENT', u'BLOCK', u'LOT', u'EASE-MENT',
       u'BUILDING_CLASS_AT_PRESENT', u'ADDRESS', u'APARTMENT_NUMBER',
       u'ZIP_CODE', u'RESIDENTIAL_UNITS', u'COMMERCIAL_UNITS', u'TOTAL_UNITS',
       u'LAND_SQUARE_FEET', u'GROSS_SQUARE_FEET', u'YEAR_BUILT',
       u'TAX_CLASS_AT_TIME_OF_SALE', u'BUILDING_CLASS_AT_TIME_OF_SALE',
       u'_SALE_PRICE_', u'SALE_DATE'],
      dtype='object')

In [25]:
#Dropping very sparse columns
df = df.drop(['EASE-MENT','APARTMENT_NUMBER'],axis=1)

In [26]:
#Dropping houses with missing price
df = df[df['_SALE_PRICE_'] != " $-   "]

In [27]:
df['SALE_DATE'] = pd.to_datetime(df['SALE_DATE'],format='%d/%m/%Y')
df['_SALE_PRICE_'] = df['_SALE_PRICE_'].apply(lambda x:x.replace(' ','').replace('$',''))
df['year'] = df['SALE_DATE'].apply(lambda x:x.year)
df['month'] = df['SALE_DATE'].apply(lambda x:x.month)
df['weekday'] = df['SALE_DATE'].apply(lambda x:x.weekday())

In [28]:
def clean_df(filename):
    df = pd.read_csv('data/'+filename,sep=';')
    df.columns = df.columns.str.replace(' ','_')
    #Dropping very sparse columns
    df = df.drop(['EASE-MENT','APARTMENT_NUMBER'],axis=1)
    
    #Dropping houses with missing price
    df = df[df['_SALE_PRICE_'] != " $-   "]
    
    num_cols = df._get_numeric_data().columns
    
    df['SALE_DATE'] = pd.to_datetime(df['SALE_DATE'],format='%d/%m/%Y')
    df['_SALE_PRICE_'] = df['_SALE_PRICE_'].apply(lambda x:int(x.replace(' ','').replace('$','')))
    df['year'] = df['SALE_DATE'].apply(lambda x:x.year)
    df['month'] = df['SALE_DATE'].apply(lambda x:x.month)
    df['weekday'] = df['SALE_DATE'].apply(lambda x:x.weekday())
    df = df.drop(['SALE_DATE'],axis=1)
    
    return df

In [29]:
df1 = clean_df('rollingsales_bronx.csv')
df2 = clean_df('rollingsales_brooklyn.csv')
df3 = clean_df('rollingsales_manhattan.csv')
df4 = clean_df('rollingsales_queens.csv')
df5 = clean_df('rollingsales_statenisland.csv')

df=pd.concat([df1,df2,df3,df4,df5])
df.shape

(57685, 21)

In [30]:
df.to_csv('data/merged_df.csv')